# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python

# Virtual Environment
.venv/
venv/
ENV/
env/

# IDE
.idea/

# Environment variables
.env

# Project-specific
.junie/
Watchtower/logs/
!Watchtower/logs/.gitkeep
Watchtower/runs/**
!Watchtower/runs/.gitkeep

# Distribution / packaging
*.egg-info/
dist/
build/